################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BossBot/bin
/BossBot/obj
/CommonLib/bin
/CommonLib/obj
/BossLogger/bin/Debug/net8.0
/BossLogger/obj/Release/net8.0
/BossLogger/obj
/BossBotAPI/Properties/PublishProfiles
/BossBotAPI/Properties/ServiceDependencies/L2MBossInfoAPI - Zip Deploy
/BossBotAPI/Properties
/packages
/BossLogger/bin/Release/net8.0
